.banner__section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0vh;
    
}
.banner__img{
    
    position: relative;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    aspect-ratio: 1;
    width: 98.7vw;
    display: flex;
    background-size: 100vw;;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
}
.banner__text{
    position: absolute;
    line-height: 1.4;
    z-index: 5;
    padding: 3vw;
    user-select: none;
    background-color: var(--bg-color-alpha);
}

.banner__text h3{
    
    font-style: italic;
    font-size: 1em;
    letter-spacing: .07em;

    color: var(--inner-text-color);
}
.banner__text p{
    color: var(--inner-text-color);
    text-align: end;
    padding-right: 5vw;
    letter-spacing: .1em;
}

@media (width >=800px) {
    .banner__text h3{
    
        font-size: 1.2em;
    }
}

@media (width >=1024px) {
    .banner__text h3{
    
        font-size: 1.4em;
    }
}