:root {
    /*EFECTS*/
    --shadow: #162323;
    --shine: #f8ffef;
    --empty-alpha: #ffffff00;
    /*BUBBLE*/

    --container-border-color: #50fd00;
    --container-bg-alpha: #00af09e1;

    --bg-color: #bebebe;

    --head-foot-color: #333333;
    --head-foot-shadow: #1b2932b4;


    --inner-text-color: #333333;
    --banner-text-color: #c4c4c4;

    --font-one: Anton, sans-serif;
    --hover-color: #af00a6e1;

    --avatar-size: 70vw;

}
.hidden{
    visibility: hidden;
}
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;

}

body {
    background-color: var(--bg-color);
    opacity: .9;
}

.bg__image {
    position: fixed;
    top: 0vh;
    z-index: -10;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/background_image.png');
    background-size: 100vmax;
    background-repeat: no-repeat;
    opacity: 0.6;
}
h3{
    margin: 0;
    font-family: var(--font-one);
    font-size: 1em;
    font-weight: lighter;
    color: var(--inner-text-color);
    
}
h2{
    margin: 0;
    font-family: var(--font-one);
    font-weight: lighter;
    font-size: 1.5em;
    color: var(--inner-text-color);
    
}
h1 {
    margin: 0;
    font-family: var(--font-one);
    font-weight: lighter;
    font-size: 2em;
    color: var(--inner-text-color);
}
p {
    margin: 0;
    font-family: var(--font-one);
    font-weight: lighter;
    font-size: 0.8em;
    color: var(--inner-text-color);
}
.section__title{
    position: relative;
    top: 0;
    padding-bottom: 3vh;
}
.block{
    border: 2px red solids;
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


