.header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-end;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 10vh;
    background: var(--head-foot-color);
    box-shadow: 0px 1px 10px 5px var(--head-foot-shadow);
    z-index: 10;
    backdrop-filter: blur(2px);
}

.bottoms__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--text-color) solid;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.2em;
    width: 6em;
    font-size: 0.8em;
    height: 3em;
    
    
}
.bottoms__item.hidden{
    display: none;
}
.bottoms__item:hover{
    background-color: var(--hover-color);
    
}

.header .nav .bottoms {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    gap: 5px;
}

.header .nav {
    display: flex;
}
.header .nav .bottoms a{
    text-decoration: none;
    font-family: var(--font-one);
    font-weight: lighter;
    color: var(--text-color);
    font-size: 1em;


}


    
@keyframes minimize {
    from {
        
    }

    to {
        
        
        height: 15%;
        top:-50%;
        left: -25%;
    }
}
