:root{
    --first-color: #121113; 
    --second-color: #222725; 
    --third-color: #899878; 
    --fourth-color: #f2f5f7; 
    --text-shadow-color: var(--fourth-color);
    --bg-color: var(--third-color);
    --text-color: var(--second-color);
    --font-one: Anton, sans-serif;
    
}
:root{
    --first-color: #ebebeb; 
    --second-color: #333333; 
    --third-color: #ebebeb; 
    --fourth-color: #FF4081; 
    --text-shadow-color: #007ad4;
    --bg-color: var(--third-color);
    --bg-alpha: #FF408184;
    --text-color: var(--second-color);
    --font-one: Anton, sans-serif;
    
}
:root{
    /*EFECTS*/
    --shadow: #162323; 
    --shine: #f8ffef; 
    --empty-alpha: #ffffff00;
    /*BUBBLE*/
    --container-border-color: #ffa250; 
    --container-bg-alpha: #ffa25095;
    
    --bg-color: #fbfdee;
    --bg-alpha: #fbfdee84;
    
    --head-foot-color: #fbfdeeb0; 
    --head-foot-shadow:#1b2932b4;
    
    
    --text-shadow-color: #ff1b7a;
    --text-color: #333333;
    --font-one: Anton, sans-serif;
    
    --start-avatar-size:40vh;
    --end-avatar-size:15vh;

}

*{
    box-sizing: border-box;
    
}
body{
    background-color: var(--bg-color);
    opacity: .9;
}
.bg__image {
    position: fixed;
    top: 0vh;
    z-index: -10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, var(--bg-color) 0%, var(--empty-alpha) 5%), linear-gradient(90deg, var(--bg-color) 0%, var(--empty-alpha) 5%), linear-gradient(180deg, var(--bg-color) 0%, var(--empty-alpha) 5%), linear-gradient(270deg, var(--bg-color) 0%, var(--empty-alpha) 5%), url(../images/backgroundsemi_.png);
    background-position-x: center;
    background-position-y: -12vh;
    background-size: 100vmax;
    background-repeat: no-repeat;
    opacity: 0.6;
}
