.presentation__image {
    position:relative;
    border: var(--container-color) 1px solid;
    aspect-ratio: 1;
    background: var(--container-color);
    display: flex;
    box-shadow: 0px 0px 10px 5px var(--shadow),
                inset 0px 0px 30px 15px var(--shine);
    border-radius: 50%;
    overflow: hidden;
    backdrop-filter: blur(2px);
    height: 30%;
    /* animation: minimize,rotator;
    animation-timeline: scroll(nearest);
    animation-range: cover 0 cover 40v;
    animation-fill-mode: both; */
    

}


.presentation__image img {
    aspect-ratio: initial;
    height: 105%;
    margin: auto;
} 

.presentation__text{
    display: flex;
    flex-direction: column;
    scale: 1;
    user-select: none;
    text-shadow: 2px 2px 2px var(--text-improve);
}
.presentation__section{
    display: flex;
    padding-top: 10vh;
    gap: 30px;
}
.presentation__image .foto.perfil.light{
    display: flex;
}
.presentation__image .foto.perfil.dark{
    display: none;
}
@media (prefers-color-scheme: dark) {
    .presentation__image .foto.perfil.light{
        display: none;
    }
    .presentation__image .foto.perfil.dark{
        display: block;
    }
}
@media (width >= 800px) {

    .presentation__section{
        flex-direction: row;
        justify-content: space-around


    }
    .presentation__text h1{
        font-size: 4em;
    }
    .presentation__text h3{
        font-size: 2em;
    }
    .presentation__image {
        height: 33%;
    }
}

    @media (width >= 1024px) {

        
        .presentation__text h1{
            font-size: 5em;
        }
        .presentation__text h3{
            font-size: 2.5em;
        }
        .presentation__image {
            height: 35%;
        }
    }

