.skill__grid {
    width: 90%;
    gap: .50em;
    display: grid;
    --columns: 1;
    --rows: 8;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}
.block.skills__section{
    flex-direction: row;
    gap: 5vw;
    
}

.skill__item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.skill__item{
    animation: visibility;
    animation-timeline: view();
    animation-fill-mode: both;

}
.skill__item{

    text-shadow: 2px 2px 2px var(--shadow);

}

.skill__bar {

    width: var(--percent);
    height: 3.5vh;
    background: var(--bar-color);
    border-radius: 6px;
    animation: loading 3s ease-out;
}
.bar-shine {
position: absolute;
    width: 100%;
    height: 3.5vh;
    z-index: 5;
    border: 1px solid var(--inner-text-color);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 9%, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 30%, rgba(255,253,255,0) 40%, rgba(255,253,255,0) 75%, rgba(0,0,0,1) 100%);
    border-radius: 6px;
}

.skill__wrapper{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: center;
}
.biography.hidden{
    display: none;
}
.biography{
    width: 40%;
}
.biography h3{
    text-align: left;
    text-shadow: 2px 2px 2px var(--shadow);
}

.bar__container {
    position: relative;
    box-shadow: 0px 1px 10px 5px var(--head-foot-shadow),
    inset 0px 6px 6px -0px var(--shadow);
    border-radius: 6px;

}

.s10 {
    --percent: 10%;
    --bar-color: #af00a6e1;
}

.s20 {
    --percent: 20%;
    --bar-color: #af00a6e1;

}

.s30 {
    --percent: 30%;
    --bar-color: #af00a6e1;

}

.s40 {
    --percent: 40%;
    --bar-color: #8faf00e1;

}

.s50 {
    --percent: 50%;
    --bar-color: #8faf00e1;
}

.s60 {
    --percent: 60%;
    --bar-color: #8faf00e1;
}

.s70 {
    --percent: 70%;
    --bar-color: #8faf00e1;
}

.s80 {
    --percent: 80%;
    --bar-color: #00af09e1;
}

.s90 {
    --percent: 90%;
    --bar-color: #00af09e1;
}

.s100 {
    --percent: 100%;
    --bar-color: #00af09e1;
}
@keyframes visibility {
    0% {
        display: none;
        

    }
    
    50% {
        display: flex;

    }
    100% {
        display: none;

    }
    
}

@keyframes loading {
    0% {
        width: 0%;

        box-shadow: 0px 0px 1px 2px var(--bar-color);

    }
    80%{
        
        width: var(--percent);
        box-shadow: 0px 0px 16px 4px var(--bar-color);
    }

    100% {
        width: var(--percent);
        box-shadow: 0px 0px 0px 0px var(--bar-color);

    }
}

@media (width >= 800px) {
    .skill__wrapper{
        width: 50%;
    }
    .biography.hidden{
        display: block;
    }
    .skill__bar {
        height: 2vh;

    }
    .bar-shine {
    
        height: 2vh;
    }
}
@media (width >= 1024px) {
    .skill__grid {
        gap: 1em;
        display: grid;
    }
    .skill__item {

        display: flex;
        flex-direction: row;

        gap: 1vh;
        justify-content: space-between;
        align-items: center;
    }
    .skill__bar {
        height: 3vh;
    }
    .bar__container{
        width: 70%;
        
    }
    .bar-shine {
    
        height: 3vh;
    }
}
