.skill__grid {
    max-width: 100vh;
    width: 85vw;
    max-width: 1024px;
    gap: .50em;
    display: grid;
    --columns: 1;
    --rows: 8;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.block.skills__section {
    gap: 2vh;

}

.skill__item {
    
    display: flex;
    flex-direction: row;

    gap: 1vh;
    justify-content: space-between;
    align-items: center;
}

.skill__item {
    animation: visibility;
    animation-timeline: view();
    animation-fill-mode: both;

}

.skill__item {
    user-select: none;
    text-shadow: 2px 2px 2px var(--text-improve);

}


.skill__bar {

    width: var(--percent);
    height: 2.5vh;
    background: var(--bar-color);
    border-radius: 6px;
    animation: loading 3s ease-out;
}

.bar-shine {
    position: absolute;
    width: 100%;
    height: 2.5vh;
    z-index: 5;
    border: 1px solid var(--inner-text-color);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 9%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 30%, rgba(255, 253, 255, 0) 40%, rgba(255, 253, 255, 0) 75%, rgba(0, 0, 0, 1) 100%);
    border-radius: 6px;
}

.skill__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.biography.hidden {
    display: none;
}

.biography {
    width: 85vw;
    max-width: 1024px;
    line-height: 1.5;
    
}
.skill__item h3{
    font-size: .9em;

}
.biography h3 {
    text-align: left;
    font-size: .7em;
    text-shadow: 2px 2px 2px var(--text-improve);
}

.bar__container {
    width: 50%;
    position: relative;
    box-shadow: 0px 1px 10px 5px var(--head-foot-shadow),
        inset 0px 6px 6px -0px var(--shadow);
    border-radius: 6px;

}

.s10 {
    --percent: 10%;
    --bar-color: #af00a6e1;
}

.s20 {
    --percent: 20%;
    --bar-color: #af00a6e1;

}

.s30 {
    --percent: 30%;
    --bar-color: #af00a6e1;

}

.s40 {
    --percent: 40%;
    --bar-color: #8faf00e1;

}

.s50 {
    --percent: 50%;
    --bar-color: #8faf00e1;
}

.s60 {
    --percent: 60%;
    --bar-color: #8faf00e1;
}

.s70 {
    --percent: 70%;
    --bar-color: #8faf00e1;
}

.s80 {
    --percent: 80%;
    --bar-color: #00af09e1;
}

.s90 {
    --percent: 90%;
    --bar-color: #00af09e1;
}

.s100 {
    --percent: 100%;
    --bar-color: #00af09e1;
}

@keyframes visibility {
    0% {
        display: none;


    }

    50% {
        display: flex;

    }

    100% {
        display: none;

    }

}

@keyframes loading {
    0% {
        width: 0%;

        box-shadow: 0px 0px 1px 2px var(--bar-color);

    }

    80% {

        width: var(--percent);
        box-shadow: 0px 0px 16px 4px var(--bar-color);
    }

    100% {
        width: var(--percent);
        box-shadow: 0px 0px 0px 0px var(--bar-color);

    }
}
@media (width >=425px) {
    .bar__container {
        width: 60%;
        .skill__item h3{
            font-size: 1em;
        
        }
        .biography h3 {
            font-size: 1.2em;
            line-height: 1.85;

        }
    
    }
}
@media (width >=800px) {
    .skill__wrapper {
        width: 50%;
    }

    .skill__bar {
        height: 2.5vh;

    }

    .bar-shine {

        height: 2.5vh;
    }
    .bar__container {
        width: 80%;
        
    
    }
    .biography h3 {
        font-size: 1em;
    }
}

@media (width >=1024px) {
    .skill__grid {
        display: grid;
    }

    .skill__item {

        display: flex;
        flex-direction: row;

        gap: 1vh;
        justify-content: space-between;
        align-items: center;
    }

    .skill__bar {
        height: 3vh;
    }

    .bar__container {
        width: 70%;

    }

    .bar-shine {

        height: 3vh;
    }
}